$light-gray: #dbdbdb;
$medium-gray: #cac9c9;
$dark-gray: #969696;

//Color Variables
$primary-background-color: #ffffff;
$secondary-background-color: $light-gray;
$tertiary-background-color: $medium-gray;
$nav-background-color-hover: #e2e4e7;
$nav-background-color: #ffffff;
$nav-font-color: #535557;
$nav-font-color-active: #282b2e;
$footer-background-color: #2c2c2c;
$headline-background-color: #0084d9;
$headline-font-color: #ffffff;
$dark-text-color: #282b2e;
$light-text-color: #ffffff;
$tertiary-text-color: #535557;

//Measurements
$gutter-padding: 10px;

//Resets
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
form,
p,
nav,
a {
  margin: 0;
  padding: 0;
  direction: ltr;
  box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
}  

//Media Queries
@media screen and (min-width: 1600px) {
}

.section {
	clear: both;
	margin: 0px;
	padding: 0px;
}

.body-offset {
	//width: 18.75%;  //1600 width
	width: 14.28%; //1400 width
}

.body-col {
	//width: 62.5%;  //1600 width
	width: 71.44%;
}

.col {
	display: block;
	float: left;
}

.w100 {
	width: 100%;
}

.w70 {
	width: 70%;
}

.w30 {
	width: 30%;
}

.no-padding {
	padding: 0;
}

//Basic CSS scaffolding stylings

html {
	font-size: 100%;
}

body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: $dark-text-color;
	line-height: 14px;
	background: url('../images/cityscape.jpg') 50% 0% no-repeat fixed;
}

main {
	background-color: $primary-background-color;
}

ul {
	list-style: none;
	position: static;
	display: inline-block;
}

li {
	list-style: none inside;
	display: inline;
}

a {
	text-decoration: none;
}

footer {
	background-color: $footer-background-color;
	height: 66px;
	font-size: 0.75em;
	font-weight: normal;
	line-height: 18px;
}
.footer-info {
	padding: 18px 0 0 10px;
	display: inline-block;
}
.footer-link {
	color: $headline-font-color;
	text-decoration: none;
}
.footer-text {
	color: $dark-gray;
}
.social-icons {
	padding: 20px 20px 0 0;
	height: 66px;
	float: right;
	li {
		margin-left: 5px;
	}
}

form {
	width: 260px;
	margin: 0 auto;
}

nav {
	height: 40px;
	font-size: 0.75em;
}

div {
	padding: $gutter-padding;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 0.75em;
	color: $light-text-color;
	background-color: $headline-background-color;
	display: inline-block;
	position: relative;
	top: -3px;
	left: 6px;
}

h3 {
	font-size: 0.875em;
	font-weight: bold;
	::after {
		font-weight: normal;
	}
}

h4 {
	font-size: 1em;
}

p {
	font-size: 0.875em;
	margin-top: 8px;
}

img {
	width: 100%;
}

.icon {
	width: auto;
}

.carat {
	width: auto;
	margin-left: 4px;
}
.hidden {
	display: none;
	* {
		display: none;
	}
}

input[type=checkbox]:checked ~ label {
	font-weight: bold;
}

input[type=email] {
	display: block;
	width: 97%;
	color: $light-gray;
}

.divider {
	display: block;
	height: 1px;
	img {
		display: block; 
	}
}
.headline {
	height: 34px;
	background-color: $headline-background-color;
	position: relative;
	.banner-flag{
		width: auto;
		display: inline-block;
		position: absolute;
		left: 0px;
		bottom: -6px;
		z-index: -7;
	}
	&.extended { 
		margin-left: -33px;
	}
} 

//Specific Header Stylings

header {
	height: 130px;
	img {
		margin-top: 12px;
		width: auto;
	}
}

.header-actions {
	margin-top: 30px;  
	width: 258px; 
	float: right;
	padding: 0;
	form {
		margin: 0;
	}
}

.header-nav {
	font-size: 0.75em;
	width: 100%;
	text-align: center;
	li {
		padding-left: 6px;
		color: $light-text-color;
		&:first-child {
			padding: 0;
			a {
				padding: 0;
			}
		}
		a {
			color: $light-text-color;
			padding-left: 8px;
		}
	}
}

.search-field {
	box-sizing: border-box;
	position: relative;
	background-image: url("../images/searchbar-background.jpg");
	background-repeat: no-repeat;
	height: 24px;
	width: 258px;
	color: #d0d0d0;
}
.search-submit {
	display: none;
}

//Specific Nav Stylings
.nav-bar {
	text-align: center;
	width: 100%;
	display: block;
	height: inherit;
	background-image: url("../images/navbar-background.jpg");
}
.nav-button {
	background: transparent;
	display: inline-block;
	width: 16.6666667%;
	height: 40px;
	a {
		padding-top: 14px;
		display: block;
		height: 100%;
		width: 100%;
		color: $nav-font-color;
		border-color: $tertiary-background-color;
		border-width: 1px 0 1px 0;
		border-style: solid;
		&.active-link {
			top: -4px;
			background-color: $primary-background-color;
			position: relative;
			height: 44px;
			border-width: 1px 1px 0 1px;
		}
		&:hover {
			background-image: url("../images/overlay.png");
		}
	}
}
//specific Carousel Stylings
.carousel-view {
	padding: 0;
	margin-bottom: -70px;
}
.view-info {
	background-image: url("../images/overlay.png");
	position: relative;
	bottom: 70px;
	height: 70px;
	padding: 16px;
	opacity: 0.8;
	filter:alpha(opacity=80);
	h4 {
		padding-top: 10px;
	}
}
.carousel-thumbnails {
	display: block;
	margin: 10px -5px 0 -5px;
	padding: 0 -5px 10px -5px;
}
.thumbnail-view {
	padding: 0;
	.indicator {
		width: 100%;
		height: 9px;
		display: none;
	}
}
.carousel-thumbnail { 
	position: relative;
	width: 25%;
	display: inline-block;
	padding: 0 5px 0 5px;
	&.active-image {
		.thumbnail-view {
			background-color: $headline-background-color;
			padding: 3px 3px 2px 3px;
			.indicator {
				background: url("../images/thumbnail-indicator.png") no-repeat center center;
				display: block;
				position: absolute;
				padding: 0 5px 0 5px;
				top: -9px;
				left: 0;
			}
		}
	}
}

//specific categories stylings

.category-list {
	font-size: 0.875em;
	margin-top: 6px;
	line-height: 18px;
}  

//specific articles stylings

.article {
	padding: 20px 0 0 0;
	img {
		width: 28%;
	}
	.content {
		width: 72%;
		padding: 0 5px 0 15px;
	}
}
.video-thumbnails {
	margin: 0 -15px 0 -10px;
}
.video-thumbnail {
	width: 33%;
	padding: $gutter-padding;
}

.side-box {
	background-color: $light-gray;
	padding: $gutter-padding;
	margin-bottom: 20px;
	.divider{
		padding: 10px 0 10px 0;
	}
	h3 {
		.icon{
			margin-right: 6px;
		}
	}
}
.side-box-form {
	width: 100%;
	button {
		position: relative;
		padding: 0;
		border-style: none;
		margin: 10px 0 10px 0;
		left: 70%
	}
}
.side-box-options {
	p {
		font-size: 0.95em;
		margin-top: 0;
	}
	padding: 5px 5px 5px 5px;
	foght-weight: normal;
	line-height: 24px;
	font-size: 0.775em;
	margin-top: 10px;
	background-color: $medium-gray;
}
.side-box-footer {
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: $dark-gray;
	background-color: $medium-gray;
	margin: 0 -10px -10px -10px;
	text-align: center;
	font-size: 0.775em;
	a {
		color: $dark-text-color;
	}
}
.contest-description-col {
	padding: 0 0 0 10px;
}
.contest-description {
	font-size: 0.75em;
	font-weight: bold;
	line-height: 16px;
	margin: 0;
}
.contests {
	li {
		display: inline-block;
		&:first-child {
			padding-bottom: 10px;
		}
	}
}