$light-gray: #dbdbdb;
$medium-gray: #cac9c9;

//Color Variables
$primary-background-color: #ffffff;
$secondary-background-color: $light-gray;
$tertiary-background-color: $medium-gray;
$nav-background-color-hover: #e2e4e7;
$nav-background-color: #ffffff;
$nav-font-color: #535557;
$nav-font-color-active: #282b2e;
$footer-background-color: #2c2c2c;
$headline-background-color: #0084d9;
$headline-font-color: #ffffff;
$dark-text-color: #282b2e;
$light-text-color: #ffffff;
$tertiary-text-color: #535557;

//Measurements
$gutter-padding: 10px;

//Resets
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
form,
p,
nav,
a {
  margin: 0;
  padding: 0;
  direction: ltr;
  box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
}  

//Media Queries
@media screen and (min-width: 1600px) {
}

.section {
	clear: both;
	margin: 0px;
	padding: 0px;
}

.body-offset {
	//width: 18.75%;  //1600 width
	width: 14.28%; //1400 width
}

.body-col {
	//width: 62.5%;  //1600 width
	width: 71.44%;
}

.col {
	display: block;
	float: left;
}

.w70 {
	width: 70%;
}

.w30 {
	width: 30%;
}

//Basic CSS scaffolding stylings

html {
	font-size: 100%;
}

body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: $dark-text-color;
	line-height: 1;
	background: url('../images/cityscape.jpg') 50% 0% no-repeat fixed;
}

main {
	background-color: $primary-background-color;
}

ul {
	list-style: none;
	position: static;
	display: inline-block;
}

li {
	list-style: none inside;
	display: inline;
}

a {
	text-decoration: none;
}

footer {
	background-color: $footer-background-color;
}

form {
	width: 260px;
	margin: 0 auto;
}

nav {
	height: 40px;
	font-size: 0.75em;
}

div {
	padding: $gutter-padding;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 0.75em;
	color: $light-text-color;
	background-color: $headline-background-color;
	display: inline-block;
	position: relative;
	top: -3px;
	left: 6px;
}

.headline {
	height: 34px;
	width: 100%;
	margin-right: -5px;
	background-color: $headline-background-color;
	overflow: hidden;
}

h3 {
	font-size: 0.875em;
	font-weight: bold;
	::after {
		fot-weight: normal;
	}
}

h4 {
	font-size: 0.875em;
}

p {
	font-size: 0.7em;
}

img {
	width: 100%;
}

.icon {
	width: auto;
}

//Specific Header Stylings

header {
	height: 130px;
	img {
		margin-top: 12px;
		width: auto;
	}
}

.header-actions {
	margin-top: 30px;  
	width: 258px; 
	float: right;
	padding: 0;
	form {
		margin: 0;
	}
}

.header-nav {
	font-size: 0.75em;
	width: 100%;
	text-align: center;
	li {
		padding-left: 6px;
		color: $light-text-color;
		&:first-child {
			padding: 0;
			a {
				padding: 0;
			}
		}
		a {
			text-decoration: none;
			padding-left: 8px;
			color: $light-text-color;
		}
	}
}

.search-field {
	box-sizing: border-box;
	position: relative;
	background-image: url("../images/searchbar-background.jpg");
	background-repeat: no-repeat;
	height: 24px;
	width: 258px;
	color: #d0d0d0;
}
.search-submit {
	display: none;
}

//Specific Nav Stylings
.nav-bar {
	text-align: center;
	width: 100%;
	display: block;
	height: inherit;
	background-image: url("../images/navbar-background.jpg");
}
.nav-button {
	background: transparent;
	display: inline-block;
	width: 16.6666667%;
	height: 40px;
	a {
		padding-top: 14px;
		display: block;
		height: 100%;
		width: 100%;
		color: $nav-font-color;
		border-color: $tertiary-background-color;
		border-width: 1px 0 1px 0;
		border-style: solid;
		&.active-link {
			top: -4px;
			background-color: $primary-background-color;
			position: relative;
			height: 44px;
			border-width: 1px 1px 0 1px;
		}
		&:hover {
			background-image: url("../images/overlay.png");
		}
	}
}
//specific Carousel Stylings
.carousel-view {
	padding: 0;
	margin-bottom: -70px;
}
.view-info {
	background-image: url("../images/overlay.png");
	position: relative;
	bottom: 70px;
	height: 70px;
	padding: 16px;
	p {
		padding-top: 5px;
	}
}
.carousel-thumbnails {
	display: block;
	margin: 10px -5px 0 -5px;
	padding: 0 -5px 10px -5px;
}
.thumbnail-view {
	padding: 0;
	.indicator {
		width: 100%;
		height: 9px;
		display: none;
	}
}
.carousel-thumbnail { 
	position: relative;
	width: 25%;
	display: inline-block;
	padding: 0 5px 0 5px;
	&.active-image {
		.thumbnail-view {
			background-color: $headline-background-color;
			padding: 3px 3px 0 3px;
			.indicator {
				background: url("../images/thumbnail-indicator.png") no-repeat center center;
				display: block;
				position: absolute;
				padding: 0 5px 0 5px;
				top: -9px;
				left: 0;
			}
		}
	}
}

.hidden {
	display: none;
	* {
		display: none;
	}
}
//specific categories stylings

.category-list {
	font-size: 0.875em;
}  