div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
form,
p,
nav,
a {
  margin: 0;
  padding: 0;
  direction: ltr;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.section {
  clear: both;
  margin: 0px;
  padding: 0px; }

.body-offset {
  width: 14.28%; }

.body-col {
  width: 71.44%; }

.col {
  display: block;
  float: left; }

.w100 {
  width: 100%; }

.w70 {
  width: 70%; }

.w30 {
  width: 30%; }

.no-padding {
  padding: 0; }

html {
  font-size: 100%; }

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #282b2e;
  line-height: 14px;
  background: url("../images/cityscape.jpg") 50% 0% no-repeat fixed; }

main {
  background-color: white; }

ul {
  list-style: none;
  position: static;
  display: inline-block; }

li {
  list-style: none inside;
  display: inline; }

a {
  text-decoration: none; }

footer {
  background-color: #2c2c2c;
  height: 66px;
  font-size: 0.75em;
  font-weight: normal;
  line-height: 18px; }

.footer-info {
  padding: 18px 0 0 10px;
  display: inline-block; }

.footer-link {
  color: white;
  text-decoration: none; }

.footer-text {
  color: #969696; }

.social-icons {
  padding: 20px 20px 0 0;
  height: 66px;
  float: right; }
  .social-icons li {
    margin-left: 5px; }

form {
  width: 260px;
  margin: 0 auto; }

nav {
  height: 40px;
  font-size: 0.75em; }

div {
  padding: 10px; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 0.75em;
  color: white;
  background-color: #0084d9;
  display: inline-block;
  position: relative;
  top: -3px;
  left: 6px; }

.headline {
  height: 34px;
  width: 100%;
  background-color: #0084d9; }

h3 {
  font-size: 0.875em;
  font-weight: bold; }
  h3 ::after {
    font-weight: normal; }

h4 {
  font-size: 1em; }

p {
  font-size: 0.875em;
  margin-top: 8px; }

img {
  width: 100%; }

.icon {
  width: auto; }

.carat {
  width: auto;
  margin-left: 4px; }

.hidden {
  display: none; }
  .hidden * {
    display: none; }

input[type=checkbox]:checked ~ label {
  font-weight: bold; }

input[type=email] {
  display: block;
  width: 97%;
  color: #dbdbdb; }

.divider {
  display: block;
  height: 1px; }
  .divider img {
    display: block; }

header {
  height: 130px; }
  header img {
    margin-top: 12px;
    width: auto; }

.header-actions {
  margin-top: 30px;
  width: 258px;
  float: right;
  padding: 0; }
  .header-actions form {
    margin: 0; }

.header-nav {
  font-size: 0.75em;
  width: 100%;
  text-align: center; }
  .header-nav li {
    padding-left: 6px;
    color: white; }
    .header-nav li:first-child {
      padding: 0; }
      .header-nav li:first-child a {
        padding: 0; }
    .header-nav li a {
      color: white;
      padding-left: 8px; }

.search-field {
  box-sizing: border-box;
  position: relative;
  background-image: url("../images/searchbar-background.jpg");
  background-repeat: no-repeat;
  height: 24px;
  width: 258px;
  color: #d0d0d0; }

.search-submit {
  display: none; }

.nav-bar {
  text-align: center;
  width: 100%;
  display: block;
  height: inherit;
  background-image: url("../images/navbar-background.jpg"); }

.nav-button {
  background: transparent;
  display: inline-block;
  width: 16.6666667%;
  height: 40px; }
  .nav-button a {
    padding-top: 14px;
    display: block;
    height: 100%;
    width: 100%;
    color: #535557;
    border-color: #cac9c9;
    border-width: 1px 0 1px 0;
    border-style: solid; }
    .nav-button a.active-link {
      top: -4px;
      background-color: white;
      position: relative;
      height: 44px;
      border-width: 1px 1px 0 1px; }
    .nav-button a:hover {
      background-image: url("../images/overlay.png"); }

.carousel-view {
  padding: 0;
  margin-bottom: -70px; }

.view-info {
  background-image: url("../images/overlay.png");
  position: relative;
  bottom: 70px;
  height: 70px;
  padding: 16px;
  opacity: 0.8;
  filter: alpha(opacity=80); }
  .view-info h4 {
    padding-top: 10px; }

.carousel-thumbnails {
  display: block;
  margin: 10px -5px 0 -5px;
  padding: 0 -5px 10px -5px; }

.thumbnail-view {
  padding: 0; }
  .thumbnail-view .indicator {
    width: 100%;
    height: 9px;
    display: none; }

.carousel-thumbnail {
  position: relative;
  width: 25%;
  display: inline-block;
  padding: 0 5px 0 5px; }
  .carousel-thumbnail.active-image .thumbnail-view {
    background-color: #0084d9;
    padding: 3px 3px 2px 3px; }
    .carousel-thumbnail.active-image .thumbnail-view .indicator {
      background: url("../images/thumbnail-indicator.png") no-repeat center center;
      display: block;
      position: absolute;
      padding: 0 5px 0 5px;
      top: -9px;
      left: 0; }

.category-list {
  font-size: 0.875em;
  margin-top: 6px;
  line-height: 18px; }

.article {
  padding: 20px 0 0 0; }
  .article img {
    width: 28%; }
  .article .content {
    width: 72%;
    padding: 0 5px 0 15px; }

.video-thumbnails {
  margin: 0 -15px 0 -10px; }

.video-thumbnail {
  width: 33%;
  padding: 10px; }

.side-box {
  background-color: #dbdbdb;
  padding: 10px;
  margin-bottom: 20px; }
  .side-box .divider {
    padding: 10px 0 10px 0; }
  .side-box h3 .icon {
    margin-right: 6px; }

.side-box-form {
  width: 100%; }
  .side-box-form button {
    position: relative;
    padding: 0;
    border-style: none;
    margin: 10px 0 10px 0;
    left: 70%; }

.side-box-options {
  padding: 5px 5px 5px 5px;
  foght-weight: normal;
  line-height: 24px;
  font-size: 0.775em;
  margin-top: 10px;
  background-color: #cac9c9; }
  .side-box-options p {
    font-size: 0.95em;
    margin-top: 0; }

.side-box-footer {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #969696;
  background-color: #cac9c9;
  margin: 0 -10px -10px -10px;
  text-align: center;
  font-size: 0.775em; }
  .side-box-footer a {
    color: #282b2e; }

.contest-description-col {
  padding: 0 0 0 10px; }

.contest-description {
  font-size: 0.75em;
  font-weight: bold;
  line-height: 16px;
  margin: 0; }

.contests li {
  display: inline-block; }
  .contests li:first-child {
    padding-bottom: 10px; }
